<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Wiki - <%=name%></title>
  </head>
  <body>
    <h1><%=name%></h1>
    <div class="buttons">
      <form action="/article/<%=name%>/delete" method="GET">
        <input type="submit" value="Delete" />
      </form>
      <form action="/article/<%=name%>/history" method="GET">
        <input type="submit" value="History" />
      </form>
      <form action="/article/<%=name%>/edit" method="GET">
        <input type="submit" value="EDIT" />
      </form>
      <form action="/" method="GET">
        <input type="submit" value="Home" />
      </form>
    </div>
    <hr />
    <p><%-content%></p>
  </body>
</html>
